body {
	background-image: url("../img/zwartevilt.png");
	font-family: 'Bree Serif', serif;
	font-size: 100%;
}

header {
	border-bottom: 2px solid #d7d7d7;
}

header:hover {
	color: #f7f7f7;
}

section {
	min-height:800px;
	color: #f7f7f7;
}

i {
	font-size: 5em;
	color: #333333;
}

a,
a:hover {
	text-decoration: none;
	color: #555555;
}

strong {
	color: #333333;
}

article {
	font-size: 1.5em;
}

footer {
	color: #d7d7d7;
}

#main-header {
	color: #d7d7d7;
	letter-spacing: 2px;
	font-size: 5em;
}

#main-header:hover {
	animation-name: header;
  	animation-duration: 0.5s;
  	-webkit-animation-fill-mode: forwards;
}

.subheader {
	color: #d7d7d7;
	letter-spacing: 1px;
	font-size: 4em;
}

.card {
	width: 200px;
	background-color: #a7a7a7;
	border: 2px solid #ffffff;
	color: #555555;	
}

.card:hover {
	animation-name: card;
  	animation-duration: 0.5s;
  	cursor: pointer;
  	-webkit-animation-fill-mode: forwards;
}

@keyframes card {
  from {background-color: #a7a7a7;}
  to {background-color: #f9f9f9;box-shadow: 0 0 3px #FFFFFF;}
}

@keyframes header {
  to {
  	color: #f7f7f7;
  	text-shadow: 0 0 3px #FFFFFF;
  }
}










